*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body ,
#root{
    height: 100%;
    width: 100%;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.create-post-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background-color: #f0f2f5;
    gap: 16px;
}
.create-post-section form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 12px;
    background-color:white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.create-post-section input,
.create-post-section textarea{
    width: 300px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.create-post-section button{
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.feed-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    min-height: 100vh;
    width: 100%;
    background-color: #f0f2f5;
    gap: 20px;
    height: 100%;
}

.post-card{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 400px;
    margin-bottom: 20px;
}
.post-card img{
    max-width: 100%;
    margin-top: 10px;
    border-radius: 8px;
}